go 1.25.5

use (
	./e2e
	./pkg/client
	./pkg/operator
	./pkg/proxy
	./pkg/termite
)

replace github.com/gomlx/gomlx => github.com/timkaye11/gomlx v0.0.0-20251221044952-ee84bc4bbaf7

replace github.com/gomlx/onnx-gomlx => github.com/timkaye11/onnx-gomlx v0.0.0-20251217194823-a871bb8cc687

replace github.com/knights-analytics/hugot => github.com/ajroetker/hugot v0.0.0-20260107061453-f83ae7b7c356

replace github.com/knights-analytics/ortgenai => github.com/ajroetker/ortgenai v0.0.0-20260102002309-90abcfc27670
